body {
  margin: 0;
  padding: 0;
  font-family: Cactus Classical Serif, serif;
  background-color: #f0f0f0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.container {
  width: 100vw;  /* Full viewport width */
  height: 100vh; /* Full viewport height */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 20px;
  box-sizing: border-box; /* Include padding and border in the element's width and height */
  background-color: #fff;
  border: 1px solid #ccc;
}

#text-container {
  width: calc(100% - 40px); /* Subtracting padding from width */
  padding: 10px 0;
  font-size: 20px;
  color: black;
  white-space: pre-wrap; /* Ensure text wraps correctly */
  line-height: 1.5;
  pointer-events: none; /* Prevent interaction */
  overflow-x: hidden; /* Prevent horizontal overflow */
  box-sizing: border-box; /* Include padding and borders in the width calculations */
}

/* Transparent floating video on top-right */
.floating-video {
  position: fixed;
  top: 0px;
  right: 10px;
  width: 300px;  /* Adjust the size of the video */
  opacity: 1;  /* Set transparency */
  z-index: 9999; /* Ensure the video stays on top */
  pointer-events: none; /* Prevent interaction with the video */
}

/* Optional: If you want the video to maintain aspect ratio */
.floating-video video {
  width: 100%;
  height: auto;
}

.cactus-classical-serif-regular {
  font-family: "Cactus Classical Serif", serif;
  font-weight: 400;
  font-style: normal;
}